.success-container {
  text-align: center;
  margin-top: 100px;
  padding: 40px;
  background-color: #e6ffed;
  border-radius: 12px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.2);
}

.success-container h2 {
  color: #2e7d32;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.success-container p {
  color: #333;
  font-size: 1rem;
}

.back-btn {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 10px 16px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background-color: #256428;
}
